* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background: #000;
}

/*NAV*/

.caixa-nav {
  display: flex;
}


.img-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px 20px 20px 20px;
  position: inline;
}

nav {
  margin-top: 35px;
}

.link-nav {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ff7200;
  cursor: pointer;
  margin: 60px 20px 20px 20px;
  position: inline;
  text-decoration: none;
  transition: 0.3s;

}

.link-nav:hover {
  color: #fff;
}

.btn-nav {
  width: 130px;
  height: 42px;
  background: #ff7200;
  color: #000;
  border-radius: 20.5px;
  border: none;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-nav:hover {
  transform: scale(1.10);

}

/*HEADER*/

header {
    position: relative;
    background: url("assets/header.ft.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh; /* ajuste conforme necessário */
    color: #ff7200; /* texto visível sobre a imagem */
    text-align: right;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.caixa-header {

  margin-right: 40px;
  margin-bottom: 40px;

  h2 {
    font-weight: 600;
    font-size: 40px;
  }

  h1 {
    font-weight: 900;
    font-size: 100px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
  }

  .btn-cardapio {
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background: #ff7200;
    color: #000000;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn-cardapio:hover {
    transform: scale(1.10);
  }
}

.linha {
  border: 2px solid #F06000;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*SEÇÕES*/

.caixa-basein {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 20px;
  
}

.caixa-info {
  width: 600px;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.caixa-info:hover {
   transform: scale(1.03);
}

#cardapio {
  background-image: url(assets/sushi_home_cardapio.png);

}

#promocoes {
  background-image: url(assets/sushi_home_promocoes.png);

}

#contato {
  background-image: url(assets/sushi_home_contato.png);

}

/*FOOTER*/

footer {
    background: #000000;
    color: #ffffff;
    padding: 60px 8% 25px;
    border-top: 4px solid #F06000;
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
  width: 130px;
  border-radius: 8px;
  
}

.footer-logo p {
    color: #98909c;
    font-size: 14px;
    margin-top: 15px;
}

.footer-links {
    display: flex;
    gap: 35px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #F06000;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-contact a {
    color: #ffffff;
    text-decoration: none;
}

.footer-contact a:hover {
    color: #F06000;
}

.footer-bottom {
    border-top: 1px solid #301000;
    margin-top: 45px;
    padding-top: 20px;

    display: flex;
    justify-content: space-between;

    color: #98909c;
    font-size: 13px;
}
